<!-- Modal para criar um futuro -->
<div class="modal fade" id="createFutureModal" tabindex="-1" aria-labelledby="createFutureModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFutureModalLabel">Criar Futuro</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="/future/criar">
                    <div class="form-group">
                        <label for="frase">Futuro:</label>
                        <textarea class="form-control" id="frase" name="frase"></textarea>
                    </div><br>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                            aria-label="Close">Fechar</button>
                        <button type="submit" class="btn btn-primary">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>