<div id="div-video" class="background-video">
    <video id="video-delete" autoplay loop>
        <source src="/imagens/future/delete.mp4" type="video/mp4">
    </video>
    <div class="text-center" id="mensagem" style="display: block;">Destruindo conexões com o tunel do tempo</div>
</div>