<div class="home">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Bem-vindo ao nosso site!</h1>
        <p class="lead">Aqui você pode visualizar seu futuro e descobrir seu número da sorte.</p>
        <hr class="my-4">
        <p>Faça o login ou cadastre-se para começar.</p>
        <a class="btn btn-primary btn-lg" href="/users/login" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="/users/cadastro" role="button">Cadastro</a>
    </div>
</div>