<div id="div-video" class="background-video">
    <video id="video-logout" autoplay loop>
        <source src="/imagens/future/logout.mp4" type="video/mp4">
    </video>
    <div class="text-center" id="mensagem" style="display: block;">Encerrando conexao com o tunel do tempo</div>
</div>